.loader{
    position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgb(255 255 255 / 15%);
z-index: 99999;
display: flex;
justify-content: center;
align-items: center;
 }
 .dots {
width: 44.6px;
height: 44.6px;
display: flex;
justify-content: space-between;
}

.dots::before,
.dots::after {
content: "";
width: 17.3px;
background: radial-gradient(farthest-side,#5e5cd0 90%,#0000) top,
     radial-gradient(farthest-side,#5e5cd0 90%,#0000) bottom;
background-size: 17.3px 17.3px;
background-repeat: no-repeat;
transform-origin: 50% calc(100% - 8.6px);
animation: dots-wila4g 1s infinite;
}

.dots::after {
transform-origin: 50% 8.6px;
}

@keyframes dots-wila4g {
70%, 100% {
 transform: rotate(-270deg);
}
}